// Dynamically created each question div
<div class = "question">
          <h3>{{question}}</h3>  //example: 1. What is the correct spelling of Lindsay Lohan's character?
    
          <img src="{{url}}" alt="Question 1 Image" width="585">
          <form>
            {{#each answer}}
            {{#if correct}} 
            <input class="correct" type="radio" value="{{value}}">{{value}}<br>
            {{/if}}
            {{else}}
            <input type="radio" name="q1" value="{{value}}">{{value}}<br>
    
            {{/each}}
          </form>
        </div>
